<div class="container-fluid">
    <div class="block-header">
        <h2><strong>Eventos</strong> </h2>
    </div>
    <!-- Basic Example -->
    <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="header bg-red">
                    <h2>
                        Red - Title <small>Description text here...</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="header bg-cyan">
                    <h2>
                        Cyan - Title <small>Description text here...</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="header bg-green">
                    <h2>
                        Green - Title <small>Description text here...</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
                </div>
            </div>
        </div>
    </div>

</div>




<!------------------------------------------Vistas------------------------------------>
    <!--Vista de añadir-->        
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
      <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" ng-controller="estudiantesController">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    
                    <table>
                      <thead>
                          <h4 class="modal-title custom_align" id="Heading">Ingresar estudiante</h4>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-group">
                            <input class="form-control " type="text" placeholder="carnet ####-######" ng-model="estudiante.carnet">
                             </div>
                          </td>
                          <td>
                              <div class="form-group">
                                <input class="form-control " type="text" placeholder="telefono ####-####" ng-model="estudiante.telefono">
                              </div>
                          </td>
                          <td>
                             <div class="form-group">
                              <input class="form-control " type="text" placeholder="cedula #-###-###" ng-model="estudiante.cedula">
                            </div>
                          </td>
                        </tr>

                      
                      
                        <tr>
                          <td>
                            <div class="form-group">
                              <input class="form-control " type="text" placeholder="correo loquesea@loquesea.loquesea" ng-model="estudiante.correo">
                            </div>
                          </td>
                          <td>
                              <div class="form-group">
                                <input class="form-control " type="text" placeholder="nombre" ng-model="estudiante.nombre">
                              </div>
                          </td>
                          <td>
                            <div class="form-group">
                            <input class="form-control " type="text" placeholder="primer apellido"ng-model="estudiante.apellido1">
                            </div>
                            </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-group">
                            <input class="form-control " type="text" placeholder="segundo apellido"ng-model="estudiante.apellido2">
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <input class="form-control " type="text" placeholder="provincia"ng-model="estudiante.provincia">
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <input class="form-control " type="text" placeholder="canton"ng-model="estudiante.canton">
                            </div>
                          </td>
                        </tr>
                        <tr>
                        <td><div class="form-group">
                          <input class="form-control " type="text" placeholder="distrito"ng-model="estudiante.distrito">
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                          <input class="form-control " type="text" placeholder="detalle"ng-model="estudiante.detalle">
                          </div>
                        </td>
                        <td>
                            <div class="form-group">
                          <input class="form-control " type="text" placeholder="tipo de poliza"ng-model="estudiante.id_poliza"></div>
                        </td>

                        </tr>
                      </tbody>  
                    </table>
                      <div class="modal-footer " >
                          <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"ng-click="putEstudiante(estudiante);"data-dismiss="modal"><span ng-click="putEstudiante(estudiante);"  class="glyphicon glyphicon-ok-sign"  ></span>add</button>
                      </div>
                </div>

    <!-- /.modal-content --> 
        </div>
      <!-- /.modal-dialog --> 
    </div>
</div>
  <!--vista de eliminar-->
            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                  <div class="modal-dialog">
                <div class="modal-content">
                      <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                  </div>
                      <div class="modal-body">
                   
                   <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
                   
                  </div>
                    <div class="modal-footer ">
                    <button type="button" class="btn btn-primary"  data-dismiss="modal"ng-click="delete(estudiante.cedula)"><span ng-click="delete(estudiante.cedula)" class="glyphicon glyphicon-ok-sign"data-dismiss="modal"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"data-dismiss="modal"></span> No</button>
                  </div>
                    </div>
                <!-- /.modal-content --> 
                </div>
                  <!-- /.modal-dialog --> 
                </div>

           <!--Vista de editar-->        
                  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                        <div class="modal-dialog" >
                              <div class="modal-content">
                                  <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>

                                      
                                      <table>
                                        <thead>
                                            <h4 class="modal-title custom_align" id="Heading">Editar estudiante</h4>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>
                                                <div class="form-group">
                                                  <input class="form-control " type="text" placeholder="estudiante.telefono" ng-model="estudiante.telefono">
                                                </div>
                                            </td>
                                            <td>
                                              <div class="form-group">
                                                <input class="form-control " type="text" placeholder="estudiante.correo" ng-model="estudiante.correo">
                                              </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                  <input class="form-control " type="text" placeholder="estudiante.nombre" ng-model="estudiante.nombre">
                                                </div>
                                            </td>

                                          </tr>
                                        
                                          <tr>
                                            
                                            <td>
                                              <div class="form-group">
                                              <input class="form-control " type="text" placeholder="estudiante.apellido1"ng-model="estudiante.apellido1">
                                              </div>
                                            </td>
                                            <td style="display:none">
                                              <div class="form-group">
                                              <input class="form-control " type="text" placeholder="estudiante.celula"ng-model="estudiante.cedula">
                                              </div>
                                            </td >
                                            <td style="display:none">
                                              <div class="form-group">
                                              <input class="form-control " type="text" placeholder="estudiante.apellido1"ng-model="estudiante.carnet">
                                              </div>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <div class="form-group">
                                              <input class="form-control " type="text" placeholder="estudiante.apellido2"ng-model="estudiante.apellido2">
                                              </div>
                                            </td>
                                            <td>
                                              <div class="form-group">
                                                <input class="form-control " type="text" placeholder="estudiante.provincia"ng-model="estudiante.provincia">
                                              </div>
                                            </td>
                                            <td>
                                              <div class="form-group">
                                                <input class="form-control " type="text" placeholder="estudiante.canton"ng-model="estudiante.canton">
                                              </div>
                                            </td>
                                          </tr>
                                          <tr>
                                          <td><div class="form-group">
                                            <input class="form-control " type="text" placeholder="estudiante.distrito"ng-model="estudiante.distrito">
                                            </div>
                                          </td>
                                          <td>
                                            <div class="form-group">
                                            <input class="form-control " type="text" placeholder="estudiante.detalle"ng-model="estudiante.detalle">
                                            </div>
                                          </td>
                                          <td>
                                              <div class="form-group">
                                            <input class="form-control " type="text" placeholder="estudiante.id_poliza"ng-model="estudiante.id_poliza"></div>
                                          </td>

                                          </tr>
                                        </tbody>  
                                      </table>
                                        <div class="modal-footer " >
                                            <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"ng-click="postEstudiante(estudiante);"data-dismiss="modal"><span ng-click="postEstudiante(estudiante);" class="glyphicon glyphicon-ok-sign"  ></span>edit</button>
                                        </div>
                                  </div>

                      <!-- /.modal-content --> 
                          </div>
                        <!-- /.modal-dialog --> 
                      </div>
              </div>
</div>