<div class="container-fluid" >
<div class="row" align= "center">
  <div class="col-md-3">
        <h2><strong>Giras</strong> </h2>

     <div  ng-repeat="gira in listaTours">
            <div class="card">
                <div class="header bg-cyan">
                    <h2>
                        {{gira.id_gira}}<small>{{gira.detalle}}</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ng-click="actualizarGira(gira)"><span class="glyphicon glyphicon-pencil" ng-click="actualizarGira(gira)"> Editar</span></button></li>

                                <li><button class="btn btn-danger btn-xs" data-target="#delete"data-title="Delete" data-toggle="modal" ng-click="actualizarGira(gira)" ><span class="glyphicon glyphicon-trash" ng-click="actualizarGira(gira)"></span>Eliminar</button></li>
                                <li>
                                  <button  type="button" class="btn btn-success"data-target="#add" ><span class="glyphicon glyphicon-plus" data-title="Add" data-toggle="modal" data-target="#add"></span>Agregar</button></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <table id="mytable" class="table table-striped table-hover table-bordered">
                  <tbody>
                      <tr>
                            <td>
                            <b>id de la gira</b>
                            </td>
                            <td>
                            <b>fecha de inicio</b>
                            </td>
                            <td>
                            <b>fecha de final</b>
                            </td>
                      </tr>
                      <tr>
                    <td>
                    {{gira.id_gira}}
                    </td>
                    <td>
                    {{gira.fecha_inicio}}
                    </td>
                    <td>
                    {{gira.fecha_final}}
                    </td>
                    
                  </tr> 
                  <tr>

                    <td>
                      <b>provincia</b>
                    </td>
                    <td>
                      <b>canton</b>
                    </td>
                    <td>
                      <b>distrito</b>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    {{gira.provincia}}
                    </td>
                    <td>
                    {{gira.canton}}</td>
                    <td>
                    {{gira.distrito}}</td>
                  </tr>
                      <tr>
                          <td>
                              {{gira.costo}}
                          </td>
                          <td>
                              {{gira.duracion}}</td>
                      </tr>
                  </tbody>
                 

                </table>
                <div class="body">
                </div>
          </div>

     </div>

</div>
</div>
</div>
<!--vistas-->

    <!--Vista de añadir-->        
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
      <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    
                    <table>
                      <thead>
                          <h4 class="modal-title custom_align" id="Heading">Ingresar gira</h4>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                              <div class="form-group">
                                <input class="form-control " type="text" placeholder="detalle" ng-model="gira.detalle">
                              </div>
                          </td>
                            <td>
                            <form >
                                fecha inicio:
                                <input type="date" name="bday" ng-model="gira.fecha_inicio">
                            </form>
                            </td>
                            <td>
                                <form >
                                    fecha final:
                                    <input type="date" name="bday" ng-model="gira.fecha_final">
                                </form>
                            </td>
                        </tr>
                        <td>
                            <div class="form-group">
                                <input class="form-control " type="text" placeholder="provincia" ng-model="gira.provincia">
                            </div>
                        </td>
                        <td >

                            <div class="form-group">
                                <input class="form-control " type="text" placeholder="canton" ng-model="gira.canton">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control " type="text" placeholder="distrito" ng-model="gira.distrito">
                            </div>
                            <div class="form-group">
                                <input class="form-control " type="text" placeholder="costo" ng-model="gira.costo">
                            </div>
                            <div class="form-group">
                                <input class="form-control " type="text" placeholder="duracion" ng-model="gira.duracion">
                            </div>
                        </td>
                      

                      </tbody>  
                    </table>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"ng-click="putGira(gira);"data-dismiss="modal" aria-hidden="true"><span ng-click="putGira(gira);" class="glyphicon glyphicon-ok-sign"data-dismiss="modal" aria-hidden="true"  ></span>add</button>
                      </div>
                </div>

    <!-- /.modal-content --> 
        </div>
      <!-- /.modal-dialog --> 
    </div>
</div>
  <!--vista de eliminar-->
            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
                  <div class="modal-dialog">
                <div class="modal-content">
                      <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                  </div>
                      <div class="modal-body">
                   
                   <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
                   
                  </div>
                    <div class="modal-footer ">
                    <button type="button" class="btn btn-primary"  ng-click="delete(gira.id_gira)" data-dismiss="modal"><span  ng-click="delete(evento.id_evento)" class="glyphicon glyphicon-ok-sign" data-dismiss="modal"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"data-dismiss="modal"></span> No</button>
                  </div>
                    </div>
                <!-- /.modal-content --> 
                </div>
                  <!-- /.modal-dialog --> 
                </div>

           <!--Vista de editar-->        
                  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                        <div class="modal-dialog" >
                              <div class="modal-content">
                                  <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>

                                      
                                      <table>
                                        <thead>
                                            <h4 class="modal-title custom_align" id="Heading">Editar evento</h4>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control " type="text" placeholder="gira.detalle" ng-model="gira.detalle">
                                                </div>
                                            </td>
                                            <td>
                                                <form >
                                                    fecha inicio:
                                                    <input type="date" name="bday" ng-model="gira.fecha_inicio">
                                                </form>
                                            </td>
                                            <td>
                                                <form >
                                                    fecha final:
                                                    <input type="date" name="bday" ng-model="gira.fecha_final">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control " type="text" placeholder="gira.provincia" ng-model="gira.provincia">
                                                </div>
                                            </td>
                                            <td >

                                                <div class="form-group">
                                                    <input class="form-control " type="text" placeholder="gira.canton" ng-model="gira.canton">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control " type="text" placeholder="gira.distrito" ng-model="gira.distrito">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control " type="text" placeholder="gira.costo" ng-model="gira.costo">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control " type="text" placeholder="gira.duracion" ng-model="gira.duracion">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control " type="text" placeholder="gira.id_gira" ng-model="gira.id_gira">
                                                </div>
                                            </td>
                                        </tr>

                                        </tbody>  
                                      </table>
                                        <div class="modal-footer " >
                                            <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"ng-click="postGira(gira);" data-dismiss="modal"><span ng-click="postGira(gira);" class="glyphicon glyphicon-ok-sign" data-dismiss="modal" ></span>edit</button>
                                        </div>
                                  </div>

                      <!-- /.modal-content --> 
                          </div>
                        <!-- /.modal-dialog --> 
                      </div>
              </div>